<h1>Train</h1>
<tr>
    <td><%=train.name%></td>
    <td><%=train.from.name%></td>
    <td><%=train.to.name%></td>
</tr>
<form method="POST" action="/search/<%= train._id%>/<%= date %>/booking">
    <label for="num">Number of passengers</label>
    <input type="number" id="num" name="num">
    <input type="submit">
</form>
